@use "../../styles/variables" as *;
@use "sass:color";

.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #9fcde5;
  background-color: #ffffff;
  color: #1d6287;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  cursor: pointer;
  justify-content: center;
  min-width: 100px;

  &[btn-type="save"] {
    border: 1px solid #9fcde5;
    background-color: #ffffff;
    color: #1d6287;

    &:hover {
      // background-color: color.adjust(#9fcde5, $lightness: -10%);
      background-color: #f1f7f8;
    }
  }

  &[btn-type="cancel"],
  &[btn-type="delete"] {
    background-color: #ffffff;
    color: $color-red;
    border: 1px solid $color-red;

    &:hover {
      background-color: #fbc7c7;
      // color: #ffffff;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: block;
  }

  &__text {
    line-height: 1;
  }
}
