@use "../../styles/variables" as *;

.emergency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--page-header-height, 80px));
  text-align: center;
  padding: 16px 32px;
  font-family: "Hanken Grotesk", sans-serif;

  &__header {
    padding-bottom: 12px;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    color: #2c2c2c;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: max-content;
    margin: 0 auto;
  }

  &__subtitle {
    font-size: 1rem;
    color: #374151;
    margin: 0;
    width: 100%;
    line-height: 1.5;
    white-space: nowrap;
    text-align: center;
  }

  &__btn {
    white-space: nowrap;
    cursor: pointer;
    font-weight: 600;
    border-radius: 16px;
    font-family: inherit;
    transition: background-color 0.2s;

    &--danger {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      padding: 20px 20px;
      background-color: $color-red;
      color: white;
      border: none;
      font-size: 1.25rem;

      &:hover {
        background-color: $color-dark-red;
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
  }
}
